/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_16-09-2023_22_35_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_16-09-2023_22_35__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
**/__pycache__